<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Code Challenge</title>
</head>
<body>
<form>  
   Name:<input type="text" name="username"/><br/><br/>  
   Password:<input type="password" name="userpass"/><br/><br/>  
   <input type="button" value="login"/>
</form> 
<p id="code"></p>
</body>
<script>
/* Create a page with a simple form and section to display tabular data. 
Create a servlet with doGet and doPost defined and create JavaScript functionality
with AJAX to GET and POST JSON data between your Java code and UI. 
Database connectivity is optional (dummy data is not ideal, but acceptable).
Use the Jackson API to convert between JSON and Java objects in your servlets. */

</script>
</html>