<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>ExpenseReimbursementSystem</display-name>
  <servlet>
    <servlet-name>employeeLoginServlet</servlet-name>
    <servlet-class>com.ers.controller.EmployeeLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>employeeLoginServlet</servlet-name>
    <url-pattern>/employeeLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updateProfileServlet</servlet-name>
    <servlet-class>com.ers.controller.updateProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateProfileServlet</servlet-name>
    <url-pattern>/updateProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>reimbReqServlet</servlet-name>
    <servlet-class>com.ers.controller.reimbReqServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>reimbReqServlet</servlet-name>
    <url-pattern>/reimbReqServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>submissionServlet</servlet-name>
    <servlet-class>com.ers.controller.submissionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>submissionServlet</servlet-name>
    <url-pattern>/submissionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ManagerLoginServlet</servlet-name>
    <servlet-class>com.ers.controller.ManagerLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerLoginServlet</servlet-name>
    <url-pattern>/ManagerLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ManagerViewRequests</servlet-name>
    <servlet-class>com.ers.controller.ManagerViewRequests</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerViewRequests</servlet-name>
    <url-pattern>/ManagerViewRequests</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ManagerUpdateRequestsServlet</servlet-name>
    <servlet-class>com.ers.controller.ManagerUpdateRequestsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerUpdateRequestsServlet</servlet-name>
    <url-pattern>/ManagerUpdateRequestsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ApproveRejectServlet</servlet-name>
    <servlet-class>com.ers.controller.ApproveRejectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApproveRejectServlet</servlet-name>
    <url-pattern>/ApproveRejectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ManagerViewEmployeesServlet</servlet-name>
    <servlet-class>com.ers.controller.ManagerViewEmployeesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerViewEmployeesServlet</servlet-name>
    <url-pattern>/ManagerViewEmployeesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ManagerSearchByEmployeeServlet</servlet-name>
    <servlet-class>com.ers.controller.ManagerSearchByEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerSearchByEmployeeServlet</servlet-name>
    <url-pattern>/ManagerSearchByEmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewRequestsServlet</servlet-name>
    <servlet-class>com.ers.controller.ViewRequestsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewRequestsServlet</servlet-name>
    <url-pattern>/ViewRequestsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ManagerViewReceiptsServlet</servlet-name>
    <servlet-class>com.ers.controller.ManagerViewReceiptsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerViewReceiptsServlet</servlet-name>
    <url-pattern>/ManagerViewReceiptsServlet</url-pattern>
  </servlet-mapping>
</web-app>