<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" 
id="WebApp_ID" version="3.1">
  <display-name>JDBCBankWeb</display-name>
  <servlet>
  	<servlet-name>home</servlet-name>
  	<servlet-class>com.revature.servlet.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>home</servlet-name>
  	<url-pattern>/home</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>accounts</servlet-name>
  	<servlet-class>com.revature.servlet.UserProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>accounts</servlet-name>
  	<url-pattern>/accounts</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>myaccount</servlet-name>
  	<servlet-class>com.revature.servlet.BankAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>myaccount</servlet-name>
  	<url-pattern>/myaccount</url-pattern>
  </servlet-mapping>
  
   <servlet>
  	<servlet-name>register</servlet-name>
  	<servlet-class>com.revature.servlet.RegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>register</servlet-name>
  	<url-pattern>/register</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>logout</servlet-name>
  	<servlet-class>com.revature.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>logout</servlet-name>
  	<url-pattern>/logout</url-pattern>
  </servlet-mapping>
    
  <servlet>
  	<servlet-name>addaccount</servlet-name>
  	<servlet-class>com.revature.servlet.AddAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>addaccount</servlet-name>
  	<url-pattern>/addaccount</url-pattern>
  </servlet-mapping>
  
   <servlet>
  	<servlet-name>deleteaccount</servlet-name>
  	<servlet-class>com.revature.servlet.DeleteAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>deleteaccount</servlet-name>
  	<url-pattern>/deleteaccount</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>superprofile</servlet-name>
  	<servlet-class>com.revature.servlet.SuperProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>superprofile</servlet-name>
  	<url-pattern>/superprofile</url-pattern>
  </servlet-mapping>
  
    <servlet>
  	<servlet-name>deleteAllUsers</servlet-name>
  	<servlet-class>com.revature.servlet.DeleteAllUsersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>deleteAllUsers</servlet-name>
  	<url-pattern>/deleteAllUsers</url-pattern>
  </servlet-mapping>
  
  
  
  
  
  
  
</web-app>