<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Project1</display-name>
  <servlet>
    <servlet-name>EmployeeLoginServlet</servlet-name>
    <servlet-class>com.bank.controller.EmployeeLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeLoginServlet</servlet-name>
    <url-pattern>/employee</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ManagerLoginServlet</servlet-name>
    <servlet-class>com.bank.controller.ManagerLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerLoginServlet</servlet-name>
    <url-pattern>/manager</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.bank.controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmployeeCheckServlet</servlet-name>
    <servlet-class>com.bank.controller.EmployeeCheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeCheckServlet</servlet-name>
    <url-pattern>/EmployeeCheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ManagerCheckServlet</servlet-name>
    <servlet-class>com.bank.controller.ManagerCheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerCheckServlet</servlet-name>
    <url-pattern>/ManagerCheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewEmployeesServlet</servlet-name>
    <servlet-class>com.bank.controller.ViewEmployeesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewEmployeesServlet</servlet-name>
    <url-pattern>/ViewEmployees</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmployeeInfoServlet</servlet-name>
    <servlet-class>com.bank.controller.EmployeeInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeInfoServlet</servlet-name>
    <url-pattern>/EmployeeInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateEmployeeInfoServlet</servlet-name>
    <servlet-class>com.bank.controller.UpdateEmployeeInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateEmployeeInfoServlet</servlet-name>
    <url-pattern>/update</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReimbursementRequestServlet</servlet-name>
    <servlet-class>com.bank.controller.ReimbursementRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReimbursementRequestServlet</servlet-name>
    <url-pattern>/reimburserequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewPendingReimbursementServlet</servlet-name>
    <servlet-class>com.bank.controller.ViewPendingReimbursementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewPendingReimbursementServlet</servlet-name>
    <url-pattern>/ViewPendingReimbursement</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewResolvedReimbursementServlet</servlet-name>
    <servlet-class>com.bank.controller.ViewResolvedReimbursementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewResolvedReimbursementServlet</servlet-name>
    <url-pattern>/ViewResolvedReimbursement</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewAllPendingReimbursementServlet</servlet-name>
    <servlet-class>com.bank.controller.ViewAllPendingReimbursementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAllPendingReimbursementServlet</servlet-name>
    <url-pattern>/ViewAllPendingReimbursements</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewAllResolvedReimbursementServlet</servlet-name>
    <servlet-class>com.bank.controller.ViewAllResolvedReimbursementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAllResolvedReimbursementServlet</servlet-name>
    <url-pattern>/ViewAllResolvedReimbursements</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ApproveOrDenyServlet</servlet-name>
    <servlet-class>com.bank.controller.ApproveOrDenyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApproveOrDenyServlet</servlet-name>
    <url-pattern>/ApproveOrDeny</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewReimbursementFromUserServlet</servlet-name>
    <servlet-class>com.bank.controller.ViewReimbursementFromUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewReimbursementFromUserServlet</servlet-name>
    <url-pattern>/ViewReimbursementFromUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>com.bank.controller.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>ViewImageServlet</servlet-name>
    <servlet-class>com.bank.controller.ViewImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewImageServlet</servlet-name>
    <url-pattern>/ViewImage</url-pattern>
  </servlet-mapping>
</web-app>